
.icon-shop:before { content: '\e835'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */